<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Success!</title>
</head>
<body>
    <div class="container">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/grab-logo-black-and-white.png" class="logo" alt="grab_logo" />
        <h1>Thank you for your feedback!</h1>       
    </div>
    <p class="credit" >This app was created by Siew Joe Kane using Flask.</p>
</body>
</html>